XTerm.termName: xterm-256color
XTerm.vt100.metaSendEscape: true
XTerm.vt100.saveLines: 10240

*foreground: white
*background: black

URxvt.font: xft:consolas:size=9
URxvt.letterSpace: -1
URxvt.scrollBar: false
